idee-features
ign-features
mapama-features
STACcopernicus
pygeoapi
ineAPI
config.ini
diagrama.txt
debug.py
mappingPrueba.rml.ttl
output_prueba.ttl
pruebas.ipynb
tfm.txt
OGCmappingGenerator/.env
morphgeo/mappings.txt
morphgeo/output.ttl
.vscode/*
.vscode
.DS_Store
onto_index.pt
OGCmappingGenerator/onto_index.pt
morphgeo/consultas.txt
morphgeo/pruebasMappingSelection.py
*.tex
tests
eval/vkg/queries/q07.rq
eval/vkg/results/
eval/vkg/results_v7/
eval/vkg/__pycache__
eval/semantic_annotation/__pycache__
eval/__pycache__
memoria/