idee-features
ign-features
mapama-features
STACcopernicus
pygeoapi
ineAPI
config.ini
diagrama.txt
debug.py
mappingPrueba.rml.ttl
output_prueba.ttl
pruebas.ipynb
tfm.txt
OGCmappingGenerator/.env
fvkg_json/mappings.txt
fvkg_json/output.ttl
.vscode/*
.vscode
.DS_Store
__pycache__/
**/__pycache__/
*.py[cod]
onto_index.pt
OGCmappingGenerator/onto_index.pt
fvkg_json/consultas.txt
fvkg_json/pruebasMappingSelection.py
*.tex
eval/vkg/queries/q07.rq
eval/vkg/results/
eval/vkg/results_v7/
eval/vkg/__pycache__
eval/semantic_annotation/__pycache__
eval/__pycache__
memoria/
tfm.key
